@import '~include-media/dist/include-media'; // 반응형 디자인을 쉽게 만들어주는 패키지
@import '~open-color/open-color'; // 다양한 색상 팔레트를 제공

/* 한 줄 이상 주석문 */
// 한 줄 주석문, 변수정의
$red: #fa5252;
$orange: #fd7e14;
$yellow: #fcc419;
$green: #40c057;
$blue: #339af0;
$indigo: #5c7cfa;
$violet: #7950f2;

// mixin 만들기 => 재사용하는 스타일 블록을 함수처럼 정의해서 호출해서 사용
@mixin square($size) {
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}
